<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="/home/devasc/design_app/static/style.css">
</head>
<body>
    <center>
        <h1>LOGIN</h1>
    </center>
    <form action="/home/devasc/design_app/templates/index.html" method="get">
        <div class="container">
            <label>Username :</label>
            <input type="text" placeholder="Enter Username" name="username" required>
            <label>Password :</label>
            <input type="password" placeholder="Enter Password" name="password" required>
            <button type="submit">Login</button>
        </div>
    </form>
</body>
</html>
